#featured{
	width:670px;
	padding-right:250px;
	position:relative;
	border:1px solid #ccc;
	height:250px;
	background:#fff;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
}
#featured ul.ui-tabs-nav{
	position:absolute;
	top:1px;
	left:620px;/* le da la posicion a las barritas del lado en x */
	list-style:none;
	padding:0;
	margin:10;
	width:300px;/*tamano del cuadro lateral */
	height: 251px;
} 
#featured ul.ui-tabs-nav li{ 
	padding:1px 0; padding-left:13px;  
	font-size:12px; 
	color:#000; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#featured li.ui-tabs-nav-item a{
	display:block;
	height:60px;
	color:#333;
	background:#fff;
	line-height:20px;
	text-decoration: none;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}
#featured li.ui-tabs-selected{ 
	background:url('https://www.centralcleaning.com.au/images/slider/selected-item.gif') top left no-repeat;  
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background:#ccc; 
}
#featured .ui-tabs-panel{ 
	width:626px; height:250px; /* el da el tamano a la imagen grande*/
	background:#999; position:relative;
}
#featured .ui-tabs-panel .info{
	position:absolute;
	top:180px;
	left:0;
	height:70px;
	background-image: url(../ima/slider/transparent-bg.png);
	width: 626px;
}
#featured .info h2{
	font-size:18px;
	font-family:'Dosis';
	color:#fff;
	margin:0;
	overflow:hidden;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#featured .info p{ 
	margin:0 5px; 
	font-family:'Dosis'; font-size:14px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}
