.body
{
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	background-color:#fffaf0;
	width:100%;
}
.bodyTextLeftPadding
{
	font-family: Verdana;
	font-size: 13px;
	text-align: justify;
	color: black;
	letter-spacing: 0;
	padding-left: 40;
	padding-right: 10;
	padding-top: 10;
}

.tblHeader
{	
	height:100%; 
	width:100%;
	background-color:#e7d7bd;
	border:"0";
    vertical-align:TOP;
    text-align:center; 	
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	/*background-image:  url('../images/flipbottompage.jpg');*/
	background-repeat: no-repeat;
	background-position: bottom right;	
}

.tblMain
{
	background-image: none;	
	border-right: #49310e 1px solid;
	padding-right: 0px;
	
	padding-left: 0px;
	padding-bottom: 0px;
	border-left: #49310e 1px solid;
	padding-top: 0px;
	border-bottom: #49310e 1px solid;
	border-collapse: collapse;	
	
	BACKGROUND-POSITION: center;
	background-color:#ffffff;	
}

.tblgrid
{
	vertical-align:top;
	background-color:#8f7156;
	Color:Black ;
}

.tblDetails
{
    MARGIN: 0.3px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;    
    width:100%;
    border:1;
}

.tdHeader
{
	WIDTH: 100%; 
	vertical-align:top;
	HEIGHT: 12%;
}

.tdMenu
{
	WIDTH: 100%; 
	HEIGHT: 0.01%;
	background-color:#49310e;
	vertical-align:top;
}

.tdTitle
{
	text-align:center; 
	background-color:#49310e ;
	height:27px;
}

.tdMain
{
	vertical-align:top;
		
	
}
.tdBodyImage
{
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	background-image:  url('https://www.centralcleaning.com.au/storefrontv3/App_Themes/images/fliptoppage.jpg');
	background-repeat: no-repeat;
	background-position: top left ;
	vertical-align:top;
}
.tdbottom
{
	text-align:center;
	width:100%;
	height:2%;
	
}

.tdErrorIndication
{
	text-align:left;
}

.table
{
    background-position:center;
}

.Panel
{
	color:Black;
	BACKGROUND-POSITION: center;
}

.MainTitle
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    
    COLOR: #4C3A8C;
    
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BORDER-RIGHT-COLOR: #0086c9
}

.lblTitle
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    BORDER-LEFT-COLOR: #0086c9;
    BORDER-BOTTOM-COLOR: #0086c9;
    /*COLOR: #4C3A8C;*/
    color:Black;
    /*color: #667C26;*/
    BORDER-TOP-COLOR: #0086c9;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BORDER-RIGHT-COLOR: #0086c9
}

.Label
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BORDER-LEFT-COLOR: #0086c9;
    BORDER-BOTTOM-COLOR: #0086c9;
    /*COLOR: #4C3A8C;*/
    color:Black;
    /*color: #667C26;*/
    BORDER-TOP-COLOR: #0086c9;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BORDER-RIGHT-COLOR: #0086c9
}
.LabelGridRow
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BORDER-LEFT-COLOR: #0086c9;
    BORDER-BOTTOM-COLOR: #0086c9;
    /*COLOR: #4C3A8C;*/
    color:Black;
    /*color: #667C26;*/
    BORDER-TOP-COLOR: #0086c9;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BORDER-RIGHT-COLOR: #0086c9
}
.LabelGridRowYN
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BORDER-LEFT-COLOR: #0086c9;
    BORDER-BOTTOM-COLOR: #0086c9;
    /*COLOR: #4C3A8C;*/
    color:Black;
    /*color: #667C26;*/
    BORDER-TOP-COLOR: #0086c9;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BORDER-RIGHT-COLOR: #0086c9;
    text-align :center 
}
.LabelAnswer
{
    /*FONT-WEIGHT: bold;*/
    FONT-SIZE: 10px;
    BORDER-LEFT-COLOR: #0086c9;
    BORDER-BOTTOM-COLOR: #0086c9;
    /*COLOR: #4C3A8C;*/
    color:Black;
    /*color: #667C26;*/
    BORDER-TOP-COLOR: #0086c9;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BORDER-RIGHT-COLOR: #0086c9
}
.LabelBasket
{
    /*FONT-WEIGHT: bold;*/
    FONT-SIZE: 10px;
    BORDER-LEFT-COLOR: #0086c9;
    BORDER-BOTTOM-COLOR: #0086c9;
    /*COLOR: #4C3A8C;*/
    color:Black;
    /*color: #667C26;*/
    BORDER-TOP-COLOR: #0086c9;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BORDER-RIGHT-COLOR: #0086c9
}
.LabelBlue
{
    
    FONT-SIZE: 12px;
    BORDER-LEFT-COLOR: #0086c9;
    BORDER-BOTTOM-COLOR: #0086c9;
    /*COLOR: #4C3A8C;*/
    color:#53BCEB;
    BORDER-TOP-COLOR: #0086c9;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BORDER-RIGHT-COLOR: #0086c9
}
.LabelHighlighted
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BORDER-LEFT-COLOR: #0086c9;
    BORDER-BOTTOM-COLOR: #0086c9;
    color:#53BCEB;
    background-color :Yellow;
    BORDER-TOP-COLOR: #0086c9;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BORDER-RIGHT-COLOR: #0086c9
}
.TextBox
{
	font-size: 12px;
	font-family: Arial;
	border-color:White;
	border-style :groove ;
}

.NumericTextBox 
{
	font-size: 12px;
	font-family: Arial;
	border-color:White;
	border-style :groove ;
	text-align :right ;
}


.DropDown
{
	font-size: 12px;
	font-family: Arial;
	border-color:White;
	border-style :groove ;
}
.datagrid
{
	font-family: "Verdana";
	Font-Size:x-small;
	font:"Black" ;
	Width:280px;
	text-align:left;
	/*border:"Solid";
	border-color:"GhostWhite";*/
	 
	/*border-right: ghostwhite solid;
	border-top: ghostwhite solid;
	font-size: x-small;
	border-left: ghostwhite solid;
	width: 100%;
	color: #000000;
	border-bottom: ghostwhite solid;
	font-family: "Verdana";*/
}

.dgAlternatingItem
{
	background-color:silver;
}
.dgAlternatingrowStyle
{
	/*background-image:url('../../images/navbg.gif');*/
	background-color:#e6effa;
	/*height:40px;*/
	/*background-color: #C7EDA0;*/
}
.dgRowStyle
{
    /*height:40px;*/
}
.dgItemstyle
{
	/*background-color:"#7a7f76";*/
	background-color:#e9dacc;
}

.dgHeaderStyle
{
	 /*Font-Size:x-small;
	 font-family:"Verdana"; 
	 FONT-WEIGHT: bold;
	 Color:"Black"; 
	
	 background-color:"#A9C4F2";*/
	 background-color:#618dcd ;
	 font-weight: bold;
	font-size: x-small;
	/*background-color:#8A8889;*/
	color:Black;
	/*color: white;
	color:Gray;*/
	font-family: "Verdana";
	text-align:center;
	
	/*background-image: url(../../images/nav_back.jpg);*/
}

.dgStyleNumeric
{
	text-align:right 
}

.dgFooterStyle
{
	text-align:right;
	Color:#d2c9f2;
}
.dgSelectedRowStyle
{
	text-align:right;
	Color:aqua;
}
.dgImgBtn
{
	Border:0; 
	Height:15px;
	Width:15px;
}

.dgcolumnItemstyle
{
	text-align:Center;
	vertical-align:Middle;	
}

.dgPagerStyle
{
	Font-Size:x-small;
	font-family:"Verdana"; 
	text-align:left;
	Color:Black; 
	/* background-color:#8f7156;*/
}
.gvPagerCss span
{
    background-color:#DEE1E7;
    font-size:15px;
}  
.gvPagerCss td
{
    padding-left: 5px;   
    padding-right: 5px;  
}

.UserMsg
{
	font-size: 14px;
	FONT-WEIGHT: bold;
	color: Green;
	font-family: Arial,Tahoma,Verdana;
}

.ErrMsg
{
	color: Red;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-WEIGHT:bold;
}

.ValidationSummary
{
	color: Red;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	FONT-WEIGHT:bold;
}
.ErrorIndication
{
	color: Red;
	font-size: 18px;
	font-family: Verdana;
	FONT-WEIGHT:bold;
	font-size:xx-small;
}

.lbtn
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	padding-left:5px;
	/*color:#666666;*/
	/*color:#A1A0A5;*/
	color: #667C26;
	text-align: center;
	text-decoration:none;
}

.Button
{
	font-weight: bold;
	font-size: 10px;
	font-style: normal;
	font-family: sans-serif;
	color: Black;
	/*color:White;
	color:Gray;*/
	height: 20px;
	background-color: white;
	/*background-color:#8A8889 ;*/
	text-align: center;
}
.SectionRow
{
	font-family:Verdana ;
	font-size:x-small;
	font-weight:bold;
	text-transform:capitalize;
	color:White;
	HEIGHT: 2px;
	BACKGROUND-COLOR:#49310e;
}
.DefaultPageText
{
	color:#49310e;
	font-family:Verdana;	
	font-weight:bold;
	font-size:medium  ;	
}
.unnamed1
{
    BACKGROUND-POSITION: right bottom;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    BACKGROUND-IMAGE: url('https://www.centralcleaning.com.au/storefrontv3/App_Themes/images/flipbottompage.jpg');
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.unnamed2
{
    BACKGROUND-POSITION: left top;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    BACKGROUND-IMAGE: url('https://www.centralcleaning.com.au/storefrontv3/App_Themes/images/fliptoppage.jpg');
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.UCVar
{
	    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	    FONT-WEIGHT:bold ;
		FONT-SIZE: 12px;
		color:White;
}
.tdUC
{
	background-color:#8f7156;
}






.MenuBarStrip {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-left: 5px;
	color: Black;
	/*background-image:url('../../images/navbg.gif');*/
	background-color: #e6effa;
	/*background-image: url(../../images/nav_back.jpg);*/
	line-height: 25px;
}
.ETHeaderImage {
       background: #001F8D;
       text-align: center;
	 
}

a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	
	/*color:#8A8889;*/
	color:Black  ;
	text-decoration:none;
	margin-right:10px;
	margin-left:10px;
}

a:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	/*color:#FF9900;*/
	/*color:#8A8889 ;*/
	/*color:#6AB9D7;*/
	color:Black;
	/*color:#53BCEB;*/
	/*color:#fffac2;*/
	text-decoration:none;
	margin-right:10px;
	margin-left:10px;
}


.datagrid tr.grred td{color:red; font-weight:bold; }
.datagrid tr.grgreen td{color:green; font-weight:bold; }



/*My code for linkbutton */

.lbtnSupportCallGrid
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:Red  ;
	text-decoration:none;
	margin-right:10px;
	margin-left:10px;
}

lbtnSupportCallGrid:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:Red;
	text-decoration:none;
	margin-right:10px;
	margin-left:10px;
}


#td div sddm
{
    text-align:center;
}

#sddm
{	
    text-align:left;
    margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	
    text-align:left;
    margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 10px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	/*width: 60px;*/
	padding-right:30px;
	background :#618dcd;
	/*background: #5970B2;*/
	color: #000;
	text-align: left;
	text-decoration: none}

#sddm li a:hover
{	
    background:#618dcd;
    /*background: #49A3FF*/
    }

#sddm div
{	
    text-align:left;
    position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background:#618dcd;
	/*background: #EAEBD8;
	border: 1px solid #5970B2*/
	border: 1px solid #618dcd
	}

#sddm div a
	{
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #618dcd;
	/*background: #EAEBD8;
		color: #2875DE;*/
	color: #000;
	font: 10px arial;
}

#sddm div a:hover
	{	
	    background:#618dcd;
	    /*background: #49A3FF;*/
		color: #000
	}
.CustomComboBoxStyle .ajax__combobox_textboxcontainer input {
    background-color: #ffffff;
    border: solid 1px Blue;
}
.CustomComboBoxStyle .ajax__combobox_buttoncontainer button {
    background-color: #ffffff;
    border: 0px none;
}
.CustomComboBoxStyle .ajax__combobox_itemlist li {

    font: 10px  Arial;
}
table#bglogon { background: #4597d0;}/*Main Background Color*/
span#CustomerHome_lblMsg {
      color: #ffffff;
      font-family: arial;
      font-size: 18px;
      font-style:italic;
}
span#CustomerHome_lblMsg2 {
      color: #ffffff;
      font-family: arial;
      font-size: 14px;
}
span#CustomerHome_lblUserName{
      color: #ffffff;
      font-family: arial;
      font-size: 14px;
}
span#CustomerHome_lblPassword{
      color: #ffffff;
      font-family: arial;
      font-size: 14px;
}
a#CustomerHome_lbtnForgotPassword{
      color: #ffffff;
      font-family: arial;
      font-size: 14px;
}
a#CustomerHome_lbtnAnyproblems{
     color: #ffffff;
      font-family: arial;
      font-size: 14px;
}
tr#CustomerHome_trContactEmail{
      color: #ffffff;
      font-family: arial;
      font-size: 14px;
}





table.logontable{
    background: #4597d0;
}